@page "{cpf}"
@model TheRealBank.UI.Pages.Customers.Excluir_ClienteModel
@{
    ViewData["Title"] = "Excluir Cliente";
}
<style>
    body {
        font-family: 'Segoe UI', sans-serif;
        background-color: silver;
        margin: 0;
        padding: 0px;
    }

    .main-container {
        text-align: center;
        background-color: white;
        padding: 50px;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.15);
        max-width: 800px;
        width: 90%;
        margin: auto;
        margin-top: 125px;
    }

        .main-container h1 {
            color: #1c3d5a;
            font-weight: 600;
            margin-bottom: 15px;
        }

    .action-buttons {
        display: flex;
        justify-content: center;
        gap: 20px; /* Espaço entre os botões */
    }

        /* Remove margem do form para alinhar os botões */
        .action-buttons form {
            margin: 0;
        }

        /* Botões customizados */
        .action-buttons .btn {
            display: inline-block;
            min-width: 80px; /* mesma largura */
            padding: 14px 20px; /* mesma altura */
            font-size: 18px;
            font-weight: bold;
            border-radius: 6px;
            transition: all 0.3s ease;
            color: white !important; /* garante que o texto fique branco */
            text-align: center;
        }

    .btn-success:hover,
    .btn-danger:hover {
        transform: translateY(-2px); /* Efeito de elevação */
    }
</style>


<div class="main-container">
    <h1 class="display-4">Tem certeza que quer excluir o cliente @Model.Cliente.Nome (CPF: @Model.Cliente.CPF)?</h1>
    <div class="action-buttons">
        <form method="post">
            <input type="hidden" asp-for="Cliente.CPF" />
            <!-- Botão SIM em verde -->
            <button type="submit" class="btn btn-success">Sim</button>
        </form>
        <!-- Botão NÃO em vermelho -->
        <a class="btn btn-danger" asp-page="/Customers/ExibirClientes">Não</a>
    </div>
</div>
