@page
@model TheRealBank.UI.Pages.Customers.ExibirClientesModel

<h1>Lista de Clientes</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Email</th>
            <th>Saldo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model.Clientes)
        {
            <tr>
                <td>@cliente.Nome</td>
                <td>@cliente.CPF</td>
                <td>@cliente.Email</td>
                <td>@cliente.Saldo.ToString("C")</td>
                <td>

                    <a class="btn btn-primary" href="/Customers/Excluir_Cliente">Excluir</a>
                    <a class="btn btn-primary" href="/Customers/EditarCliente/@cliente.CPF">Editar</a>
                </td>
            
            </tr>

        }
    </tbody>
</table>
